In [3]:
pip install pandas sqlalchemy pymysql

Requirement already satisfied: pandas in c:\users\arpan wanve\anaconda3\lib\site-packages (2.0.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: sqlalchemy in c:\users\arpan wanve\anaconda3\lib\site-packages (2.0.43)
Requirement already satisfied: pymysql in c:\users\arpan wanve\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\arpan wanve\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\arpan wanve\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\arpan wanve\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\arpan wanve\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: greenlet>=1 in c:\users\arpan wanve\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\arpan wanve\anaconda3\lib\site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: six>=1.5 in c:\users\arpan wanve\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import os
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import json

In [2]:
import zipfile

zip_path = "mixed_dataset.zip"
extract_path = "mixed_dataset"

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

print("Files extracted to:", extract_path)

Files extracted to: mixed_dataset

In [9]:
from sqlalchemy import create_engine, text
import urllib.parse

username = "noname"
password = urllib.parse.quote_plus("noname")
host = "localhost"
database = "noname"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}/{database}")
print("Connected to MySQL successfully.")

Connected to MySQL successfully.

In [19]:
csv_folder = os.path.join(extract_path, "csv")

for file in os.listdir(csv_folder):
    if file.endswith(".csv"):
        path = os.path.join(csv_folder, file)
        table_name = os.path.splitext(file)[0]
        
        df = pd.read_csv(path)
        if not df.empty:
            df.to_sql(table_name, con=engine, index=False, if_exists='append')
            with engine.connect() as conn:
                count = conn.execute(text(f"SELECT COUNT(*) FROM `{table_name}`")).scalar()
            print(f"{file} → {table_name}: {len(df)} rows added (Total now: {count})")
        else:
            print(f"{file} is empty, skipped.")

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'name' in 'field list'")
[SQL: INSERT INTO data_0 (id, name, email, age, balance, is_active, signup_date, last_login) VALUES (%(id)s, %(name)s, %(email)s, %(age)s, %(balance)s, %(is_active)s, %(signup_date)s, %(last_login)s)]
[parameters: [{'id': 1, 'name': 'Amanda Aguilar', 'email': 'edward07@green.biz', 'age': 60.0, 'balance': 9126.82, 'is_active': 1, 'signup_date': '2021-11-04', 'last_login': None}, {'id': 2, 'name': 'Gregory Washington', 'email': None, 'age': 18.0, 'balance': 8899.89, 'is_active': 1, 'signup_date': '2025-09-11', 'last_login': None}, {'id': 3, 'name': 'Daniel Stephens', 'email': 'smithjennifer@hotmail.com', 'age': 42.0, 'balance': 9575.99, 'is_active': 1, 'signup_date': '2020-10-18', 'last_login': '2025-08-10 02:26:58'}, {'id': 4, 'name': 'Joshua Greene', 'email': 'jeremy90@gmail.com', 'age': 41.0, 'balance': 2516.23, 'is_active': 0, 'signup_date': '2020-04-13', 'last_login': None}, {'id': 5, 'name': 'Jason Matthews', 'email': 'andrea70@hotmail.com', 'age': 20.0, 'balance': 3162.78, 'is_active': 1, 'signup_date': '2020-09-05', 'last_login': '2025-06-16 20:57:04'}, {'id': 6, 'name': 'Scott Hopkins', 'email': 'lindseyhernandez@smith.com', 'age': 58.0, 'balance': 5185.98, 'is_active': 1, 'signup_date': '2022-11-16', 'last_login': '2025-03-26 21:09:22'}, {'id': 7, 'name': 'Stephanie Moore', 'email': 'brandyhoward@yahoo.com', 'age': 66.0, 'balance': 5900.47, 'is_active': 1, 'signup_date': '2020-10-20', 'last_login': '2025-04-09 20:12:47'}, {'id': 8, 'name': 'Alexandra Castillo', 'email': 'dawn90@yahoo.com', 'age': 73.0, 'balance': 5003.95, 'is_active': 1, 'signup_date': '2022-11-23', 'last_login': '2025-05-22 13:55:44'}  ... displaying 10 of 5000 total bound parameter sets ...  {'id': 4999, 'name': 'Jennifer Nelson', 'email': 'carterpaul@hardy-fields.info', 'age': 49.0, 'balance': 3662.93, 'is_active': 1, 'signup_date': '2025-10-11', 'last_login': '2025-08-07 19:31:24'}, {'id': 5000, 'name': 'Jennifer Valencia', 'email': 'ashleybrown@garcia.biz', 'age': 76.0, 'balance': 4026.09, 'is_active': 1, 'signup_date': None, 'last_login': '2025-07-28 12:44:09'}]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [12]:
json_folder = os.path.join(extract_path, "json")

for file in os.listdir(json_folder):
    if file.endswith(".json"):
        path = os.path.join(json_folder, file)
        table_name = os.path.splitext(file)[0]

        with open(path, 'r') as f:
            data = json.load(f)
        df = pd.json_normalize(data)

        # Convert nested fields
        for col in df.columns:
            df[col] = df[col].apply(lambda x: json.dumps(x) if isinstance(x, (list, dict)) else x)

        if df.empty:
            print(f"{file} is empty, skipped.")
            continue

        # Try appending; recreate on schema mismatch
        try:
            df.to_sql(table_name, con=engine, index=False, if_exists='append')
        except Exception as e:
            print(f" Schema mismatch or column error in {table_name}: {e}")
            df.to_sql(table_name, con=engine, index=False, if_exists='replace')
            print(f"{file} → {table_name} recreated successfully.")

        with engine.connect() as conn:
            count = conn.execute(text(f"SELECT COUNT(*) FROM `{table_name}`")).scalar()
        print(f"{file} → {table_name}: {len(df)} rows added (Total now: {count})")

⚠️ Schema mismatch or column error in data_0: (pymysql.err.OperationalError) (1054, "Unknown column 'created_at' in 'field list'")
[SQL: INSERT INTO data_0 (id, created_at, `user.name`, `user.email`, `user.tags`, `metrics.score`, `metrics.level`, `metrics.active`, `metadata.notes`, metadata) VALUES (%(id)s, %(created_at)s, %(user_name)s, %(user_email)s, %(user_tags)s, %(metrics_score)s, %(metrics_level)s, %(metrics_active)s, %(metadata_notes)s, %(metadata)s)]
[parameters: [{'id': 309901, 'created_at': '2025-05-28 18:56:54', 'user_name': 'Ryan Fox', 'user_email': 'christine29@patterson.info', 'user_tags': '["want", "over", "write"]', 'metrics_score': 72.41, 'metrics_level': 7, 'metrics_active': 1, 'metadata_notes': 'Window after right notice.', 'metadata': None}, {'id': 328229, 'created_at': '2025-06-12 06:14:02', 'user_name': 'Stacey Porter', 'user_email': 'hthompson@cruz-clark.net', 'user_tags': '["hope", "relate", "grow", "administration", "free"]', 'metrics_score': 63.83, 'metrics_level': 3, 'metrics_active': None, 'metadata_notes': 'Past summer pay herself.', 'metadata': None}, {'id': 548312, 'created_at': '2025-06-03 06:06:18', 'user_name': 'Mr. Frank Fuentes', 'user_email': 'tammywhitehead@richards.info', 'user_tags': '["become", "huge", "nature"]', 'metrics_score': 22.53, 'metrics_level': 10, 'metrics_active': 0, 'metadata_notes': 'Occur grow case someone offer.', 'metadata': None}, {'id': 451834, 'created_at': '2025-03-23 11:51:42', 'user_name': 'Amanda Lee', 'user_email': 'amanda56@estrada.com', 'user_tags': '["day"]', 'metrics_score': 81.71, 'metrics_level': 4, 'metrics_active': None, 'metadata_notes': 'Very two help president discuss possible.', 'metadata': None}, {'id': 516005, 'created_at': '2025-06-19 14:30:36', 'user_name': 'Rodney Moore', 'user_email': 'margaretfrey@walker.biz', 'user_tags': '["across", "mouth", "indeed", "computer", "standard"]', 'metrics_score': 90.64, 'metrics_level': 10, 'metrics_active': 0, 'metadata_notes': 'Son describe those be we keep.', 'metadata': None}, {'id': 361791, 'created_at': '2025-10-02 09:25:02', 'user_name': 'John Maldonado', 'user_email': 'johnsonjamie@hayes-ford.net', 'user_tags': '["film", "heavy", "material"]', 'metrics_score': 17.93, 'metrics_level': 3, 'metrics_active': 0, 'metadata_notes': None, 'metadata': None}, {'id': 196162, 'created_at': '2025-01-21 04:24:58', 'user_name': 'Mrs. Margaret Russell', 'user_email': 'lmendoza@williams.net', 'user_tags': '["so", "current", "prevent"]', 'metrics_score': 66.25, 'metrics_level': 8, 'metrics_active': None, 'metadata_notes': 'He question learn language special.', 'metadata': None}, {'id': 883429, 'created_at': '2025-05-02 23:11:10', 'user_name': 'Lisa Sanchez', 'user_email': 'brianhorn@nichols-hoffman.com', 'user_tags': '["news", "weight", "grow", "affect"]', 'metrics_score': 31.98, 'metrics_level': 2, 'metrics_active': 0, 'metadata_notes': 'Approach might must set among simple even exist.', 'metadata': None}  ... displaying 10 of 5000 total bound parameter sets ...  {'id': 746303, 'created_at': '2025-06-14 02:34:26', 'user_name': 'David Montgomery', 'user_email': 'morgan04@evans-barton.com', 'user_tags': '["population", "direction", "rate"]', 'metrics_score': 80.08, 'metrics_level': 7, 'metrics_active': 0, 'metadata_notes': 'Focus black per participant attention wind truth local.', 'metadata': None}, {'id': 838769, 'created_at': '2025-05-08 12:51:46', 'user_name': 'Nathan Campos', 'user_email': 'jamiedouglas@johnson.com', 'user_tags': '["training", "open", "side"]', 'metrics_score': 43.03, 'metrics_level': 3, 'metrics_active': 1, 'metadata_notes': None, 'metadata': None}]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
✅ data_0.json → data_0 recreated successfully.
📦 data_0.json → data_0: 5000 rows added (Total now: 5000)
⚠️ Schema mismatch or column error in data_1: (pymysql.err.OperationalError) (1054, "Unknown column 'created_at' in 'field list'")
[SQL: INSERT INTO data_1 (id, created_at, `user.name`, `user.email`, `user.tags`, `metrics.score`, `metrics.level`, `metrics.active`, `metadata.notes`, metadata) VALUES (%(id)s, %(created_at)s, %(user_name)s, %(user_email)s, %(user_tags)s, %(metrics_score)s, %(metrics_level)s, %(metrics_active)s, %(metadata_notes)s, %(metadata)s)]
[parameters: [{'id': 423084, 'created_at': '2025-05-29 01:37:19', 'user_name': 'Lynn Wright MD', 'user_email': 'melissastone@hotmail.com', 'user_tags': '["some", "father", "cell", "several"]', 'metrics_score': 26.01, 'metrics_level': 2, 'metrics_active': 0, 'metadata_notes': 'Tonight physical practice security.', 'metadata': None}, {'id': 728981, 'created_at': '2025-09-16 06:28:15', 'user_name': 'Felicia James', 'user_email': 'martinvillanueva@gmail.com', 'user_tags': '["relate", "middle", "pick", "child"]', 'metrics_score': 40.16, 'metrics_level': 6, 'metrics_active': 0, 'metadata_notes': 'Hour media position hour air.', 'metadata': None}, {'id': 57306, 'created_at': '2025-09-26 23:13:42', 'user_name': 'Destiny Zimmerman', 'user_email': 'rebeccamartinez@hotmail.com', 'user_tags': '["us", "suddenly", "either"]', 'metrics_score': 56.97, 'metrics_level': 9, 'metrics_active': 1, 'metadata_notes': 'Activity example look color list our cut.', 'metadata': None}, {'id': 900452, 'created_at': '2025-10-07 05:22:41', 'user_name': 'Cory Schmidt', 'user_email': 'keithchristian@clarke.com', 'user_tags': '["sit", "will", "force", "fill", "fly"]', 'metrics_score': 9.09, 'metrics_level': 8, 'metrics_active': None, 'metadata_notes': None, 'metadata': None}, {'id': 97290, 'created_at': '2025-02-19 06:19:26', 'user_name': 'Richard Rowe', 'user_email': 'rmeyer@gordon.info', 'user_tags': '["remain", "east", "help", "would", "event"]', 'metrics_score': 84.38, 'metrics_level': 6, 'metrics_active': None, 'metadata_notes': 'Anything sound itself political.', 'metadata': None}, {'id': 252283, 'created_at': '2025-09-11 15:05:22', 'user_name': 'Erica Cruz', 'user_email': 'christinahunt@rogers.biz', 'user_tags': '["change", "spring", "among", "it"]', 'metrics_score': 52.34, 'metrics_level': 4, 'metrics_active': None, 'metadata_notes': 'Second news cell east general action ball article.', 'metadata': None}, {'id': 769998, 'created_at': '2025-07-27 09:01:03', 'user_name': 'Tanner Gonzalez', 'user_email': 'wrodriguez@yahoo.com', 'user_tags': '["reduce", "religious", "kind", "later", "standard"]', 'metrics_score': 31.83, 'metrics_level': 2, 'metrics_active': 1, 'metadata_notes': 'Forward anything story everybody exactly leave total.', 'metadata': None}, {'id': 926222, 'created_at': '2025-06-01 07:38:25', 'user_name': 'Alexandra Bryant', 'user_email': 'fmarks@yahoo.com', 'user_tags': '["able", "early", "might"]', 'metrics_score': 72.3, 'metrics_level': 9, 'metrics_active': 1, 'metadata_notes': 'Onto important word pay teach.', 'metadata': None}  ... displaying 10 of 5000 total bound parameter sets ...  {'id': 541972, 'created_at': '2025-03-13 12:09:54', 'user_name': 'Joseph Scott', 'user_email': 'deborah62@hotmail.com', 'user_tags': '["down", "current", "election", "pressure", "recent"]', 'metrics_score': 73.1, 'metrics_level': 1, 'metrics_active': 0, 'metadata_notes': 'Eye somebody wish avoid.', 'metadata': None}, {'id': 678482, 'created_at': '2025-03-08 12:15:51', 'user_name': 'Luis Mata', 'user_email': 'xwilson@hotmail.com', 'user_tags': '["maintain", "star", "write", "hit"]', 'metrics_score': 94.71, 'metrics_level': 9, 'metrics_active': None, 'metadata_notes': 'Laugh concern small energy behavior health lot.', 'metadata': None}]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
✅ data_1.json → data_1 recreated successfully.
📦 data_1.json → data_1: 5000 rows added (Total now: 5000)

In [13]:
text_folder = os.path.join(extract_path, "text")

# Ensure table exists
with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS text_files (
            id INT AUTO_INCREMENT PRIMARY KEY,
            file_name VARCHAR(255),
            content LONGTEXT
        )
    """))


with engine.begin() as conn:
    for file in os.listdir(text_folder):
        if file.endswith((".txt", ".log")):
            path = os.path.join(text_folder, file)
            with open(path, 'r', encoding='utf-8') as f:
                content = f.read()

            chunk_size = 50000
            inserted_rows = 0
            for i in range(0, len(content), chunk_size):
                chunk = content[i:i + chunk_size]
                stmt = text("INSERT INTO text_files (file_name, content) VALUES (:file_name, :content)")
                conn.execute(stmt, {"file_name": file, "content": chunk})
                inserted_rows += 1

            print(f"{file} → text_files: {inserted_rows} chunks inserted.")

✅ data_0.txt → text_files: 105 chunks inserted.
✅ data_1.txt → text_files: 105 chunks inserted.

In [14]:
urls_folder = os.path.join(extract_path, "urls")


with engine.begin() as conn:
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS urls (
            id INT AUTO_INCREMENT PRIMARY KEY,
            file_name VARCHAR(255),
            url TEXT
        )
    """))

for file in os.listdir(urls_folder):
    path = os.path.join(urls_folder, file)
    with open(path, 'r', encoding='utf-8') as f:
        lines = [l.strip() for l in f if l.strip()]

    if lines:
        df = pd.DataFrame({"file_name": [file]*len(lines), "url": lines})
        df.to_sql("urls", con=engine, index=False, if_exists='append')

        with engine.connect() as conn:
            count = conn.execute(text("SELECT COUNT(*) FROM urls")).scalar()
        print(f"{file} → urls: {len(lines)} rows added (Total now: {count})")
    else:
        print(f" {file} is empty, skipped.")

✅ data_0.txt → urls: 5000 rows added (Total now: 5000)

In [16]:
tables = pd.read_sql("SHOW TABLES;", engine)
print("📋 Tables in database:")
display(tables)

📋 Tables in database:

  Tables_in_randommigration
0                    data_0
1                    data_1
2                text_files
3                      urls

In [17]:
with engine.connect() as conn:
    for (table,) in conn.execute(text("SHOW TABLES")).fetchall():
        count = conn.execute(text(f"SELECT COUNT(*) FROM `{table}`")).scalar()
        print(f"{table}: {count} rows")

data_0: 5000 rows
data_1: 5000 rows
text_files: 210 rows
urls: 5000 rows